In [1]:
import pandas as pd

In [17]:
life_df = pd.read_csv('Life_Expectancy_Data.csv')
life_df.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [15]:
#Create a new dataset to work with
new_df = pd.DataFrame({'country': life_df['Country'],
                        'life_expectancy': life_df['Life expectancy '],
                        'alcohol': life_df['Alcohol'],
                        'hepatitisB': life_df['Hepatitis B'],
                        'measles': life_df['Measles '],
                        'bmi': life_df[' BMI '],
                        'polio': life_df['Polio'],
                        'diphtheria': life_df['Diphtheria '],
                        'hiv': life_df[' HIV/AIDS'],
                        'total_expenditure': life_df['Total expenditure'],
                        'gdp': life_df['GDP'],
                        'total_expenditure': life_df['Total expenditure'],
                        'thinness_till19': life_df[' thinness  1-19 years'],
                        'status': life_df['Status'],
                        })

In [23]:
grouped_df = new_df.groupby(['country']).mean()
grouped_df.head(20)

,life_expectancy,alcohol,hepatitisB,measles,bmi,polio,diphtheria,hiv,total_expenditure,gdp,thinness_till19
country,,,,,,,,,,,
Afghanistan,58.19375,0.014375,64.562500,2362.2500,15.51875,48.3750,52.3125,0.10000,8.252500,340.015425,16.58125
Albania,75.15625,4.848750,98.000000,53.3750,49.06875,98.1250,98.0625,0.10000,5.945625,2119.726679,1.61875
Algeria,73.61875,0.406667,78.000000,1943.8750,48.74375,91.7500,91.8750,0.10000,4.604000,2847.853392,6.09375
Angola,49.01875,5.740667,70.222222,3561.3125,18.01875,46.1250,47.6875,2.36875,3.919333,1975.143045,6.19375
Antigua and Barbuda,75.05625,7.949333,98.266667,0.0000,38.42500,96.9375,98.3125,0.12500,4.791333,9759.305728,3.42500
Argentina,75.15625,7.966667,81.285714,2.0000,54.98125,93.3750,92.3750,0.10000,6.912667,6998.575103,1.07500
Armenia,73.40000,3.702667,87.562500,274.2500,44.70625,89.1250,87.3750,0.10000,4.861333,1999.986318,2.03750
Australia,81.81250,10.155333,93.400000,103.9375,55.86250,86.7500,86.8750,0.10000,8.836667,34637.565047,0.66875
Austria,81.48125,12.236000,81.062500,77.2500,48.28750,86.0000,86.7500,0.10000,4.715333,33827.476309,1.73125
Azerbaijan,70.73125,0.992000,59.214286,598.1875,43.84375,75.8125,82.3125,0.10000,5.679333,3302.947807,2.90000
Bahamas,74.28750,10.271333,83.600000,0.0000,52.88125,95.0000,95.7500,0.11875,6.706000,NaN,2.55000
Bahrain,75.72500,1.934667,98.125000,6.6875,51.65625,98.0000,98.0625,0.10000,3.807333,11191.247421,6.10625
Bangladesh,69.30000,0.010000,77.615385,4649.9375,12.87500,87.5000,92.7500,0.10000,2.854667,443.561481,13.77500
Barbados,74.35625,8.206667,84.066667,0.0000,45.97500,80.3125,89.9375,0.25625,6.122000,12017.098529,3.95625
Belarus,69.90625,13.497333,88.937500,24.8125,54.74375,89.8750,92.1875,0.10000,6.192000,3811.525348,2.21250
Belgium,80.68125,11.042667,74.500000,81.5625,50.89375,97.7500,97.3125,0.10000,5.962000,16915.306000,0.86250
Belize,69.26875,6.252667,94.750000,0.0000,37.67500,95.5000,95.1875,0.43125,5.039333,3933.012174,3.55625
Benin,57.56875,1.000000,62.571429,1116.8750,19.61250,67.6875,67.9375,1.70625,4.636000,561.167968,8.25000
Bhutan,66.16250,0.278667,94.125000,80.2500,17.58125,89.3750,93.8750,0.35625,5.346000,1353.986946,17.21875
Bolivia (Plurinational State of),67.70625,3.212000,82.875000,7.6250,44.81875,81.6875,87.3750,0.15625,5.626000,NaN,1.30000

In [24]:
refined_life_expect = grouped_df.to_csv(r'C:\Users\GILOR\Desktop\data_science\Flatiron_projects\Life_Expectancy_Project\refined_life_expect.csv')