In [1]:
import pandas as pd

In [51]:
life_df = pd.read_csv('Life_Expectancy_data.csv')
life_df.columns
# life_df.head(400)

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [52]:
life_df['death_ratio'] = life_df['Adult Mortality'] / life_df['infant deaths']
life_df['death_ratio']

0        4.241935
1        4.234375
2        4.060606
3        3.942029
4        3.873239
5        3.770270
6        3.649351
7        3.587500
8        3.597561
9        3.511905
10       3.423529
11       3.367816
12       3.390805
13       0.034091
14       3.590909
15       3.647727
16            inf
17            inf
18            inf
19            inf
20            inf
21      91.000000
22      91.000000
23       1.000000
24       9.000000
25      99.000000
26      15.000000
27      17.000000
28      18.000000
29      15.000000
          ...
2908    11.310345
2909    12.034483
2910    12.620690
2911    12.100000
2912    12.266667
2913     1.451613
2914    15.218750
2915    15.939394
2916    16.294118
2917    16.055556
2918     1.641026
2919     1.682927
2920    14.209302
2921    13.954545
2922    15.272727
2923    16.130435
2924    15.960000
2925    16.500000
2926    16.571429
2927    18.172414
2928    19.566667
2929    21.066667
2930     2.310345
2931     0.250000
2932    25.607143
2933    26.777778
2934    27.500000
2935     2.920000
2936    27.440000
2937    27.708333
Name: death_ratio, Length: 2938, dtype: float64

In [45]:
#Create a new dataset to work with
new_df = pd.DataFrame({'country': life_df['Country'],
                        'life_expectancy': life_df['Life expectancy '],
                        'alcohol': life_df['Alcohol'],
                        'hepatitisB': life_df['Hepatitis B'],
                        'measles': life_df['Measles '],
                        'bmi': life_df[' BMI '],
                        'polio': life_df['Polio'],
                        'diphtheria': life_df['Diphtheria '],
                        'hiv': life_df[' HIV/AIDS'],
                        'total_expenditure': life_df['Total expenditure'],
                        'gdp': life_df['GDP'],
                        'total_expenditure': life_df['Total expenditure'],
                        'thinness_till19': life_df[' thinness  1-19 years'],
                        'status': life_df['Status'],
                        'inf_death': life_df['Infant Death'],
                        'death_ratio': life_df['death_ratio']
                        })
refined_life_expect = new_df.to_csv(r'C:\Users\GILOR\Desktop\data_science\Flatiron_projects\Life_Expectancy_Project\refined_life_expect.csv')

,country,life_expectancy,alcohol,hepatitisB,measles,bmi,polio,diphtheria,hiv,total_expenditure,gdp,thinness_till19,status
112,Australia,82.8,NaN,93.0,74,66.6,93.0,93.0,0.1,NaN,56554.38760,0.6,Developed
113,Australia,82.7,9.71,91.0,340,66.1,92.0,92.0,0.1,9.42,62214.69120,0.6,Developed
114,Australia,82.5,9.87,91.0,158,65.5,91.0,91.0,0.1,9.36,67792.33860,0.6,Developed
115,Australia,82.3,10.03,91.0,199,65.0,92.0,92.0,0.1,9.36,67677.63477,0.6,Developed
116,Australia,82.0,10.30,92.0,190,64.4,92.0,92.0,0.1,9.20,62245.12900,0.6,Developed
117,Australia,81.9,10.52,92.0,70,63.9,92.0,92.0,0.1,9.20,51874.84800,0.7,Developed
118,Australia,81.7,10.62,94.0,104,63.4,92.0,92.0,0.1,9.50,42742.99898,0.7,Developed
119,Australia,81.3,10.76,94.0,65,62.9,92.0,92.0,0.1,8.78,49664.68540,0.7,Developed
120,Australia,81.3,10.56,94.0,11,62.5,92.0,92.0,0.1,8.53,4991.98289,0.7,Developed
121,Australia,81.2,10.31,95.0,0,62.0,92.0,92.0,0.1,8.49,36118.28381,0.7,Developed
122,Australia,81.0,10.30,95.0,10,61.5,92.0,92.0,0.1,8.45,3416.71483,0.7,Developed
123,Australia,86.0,9.84,95.0,70,6.9,92.0,92.0,0.1,8.57,3472.37977,0.7,Developed
124,Australia,83.0,9.97,95.0,91,6.3,92.0,93.0,0.1,8.32,23465.38559,0.7,Developed
125,Australia,79.9,9.84,95.0,32,59.6,92.0,92.0,0.1,8.39,281.81763,0.7,Developed
126,Australia,79.9,9.53,94.0,141,59.0,91.0,92.0,0.1,8.18,19517.84168,0.7,Developed
127,Australia,79.5,10.17,NaN,108,58.2,9.0,9.0,0.1,8.80,2169.92100,0.7,Developed