In [1]:
import pandas as pd

In [3]:
life_df = pd.read_csv('Life_Expectancy_Data.csv')
life_df.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [15]:
#Create a new dataset to work with
new_df = pd.DataFrame({'country': life_df['Country'],
                        'life_expectancy': life_df['Life expectancy '],
                        'alcohol': life_df['Alcohol'],
                        'hepatitisB': life_df['Hepatitis B'],
                        'measles': life_df['Measles '],
                        'bmi': life_df[' BMI '],
                        'polio': life_df['Polio'],
                        'diphtheria': life_df['Diphtheria '],
                        'hiv': life_df[' HIV/AIDS'],
                        'total_expenditure': life_df['Total expenditure'],
                        'gdp': life_df['GDP'],
                        'total_expenditure': life_df['Total expenditure'],
                        'thinness_till19': life_df[' thinness  1-19 years'],
                        })
efined_life_expect = new_df.to_csv(r'C:\Users\GILOR\Desktop\data_science\Flatiron_projects\Life_Expectancy_Project\refined_life_expect.csv')

          country  life_expectancy
0     Afghanistan             65.0
1     Afghanistan             59.9
2     Afghanistan             59.9
3     Afghanistan             59.5
4     Afghanistan             59.2
5     Afghanistan             58.8
6     Afghanistan             58.6
7     Afghanistan             58.1
8     Afghanistan             57.5
9     Afghanistan             57.3
10    Afghanistan             57.3
11    Afghanistan             57.0
12    Afghanistan             56.7
13    Afghanistan             56.2
14    Afghanistan             55.3
15    Afghanistan             54.8
16        Albania             77.8
17        Albania             77.5
18        Albania             77.2
19        Albania             76.9
20        Albania             76.6
21        Albania             76.2
22        Albania             76.1
23        Albania             75.3
24        Albania             75.9
25        Albania             74.2
26        Albania             73.5
27        Albania             73.0
28        Albania             72.8
29        Albania             73.3
...           ...              ...
2908       Zambia             63.0
2909       Zambia             59.2
2910       Zambia             58.2
2911       Zambia             58.0
2912       Zambia             57.4
2913       Zambia             55.7
2914       Zambia             52.6
2915       Zambia             58.0
2916       Zambia             49.3
2917       Zambia             47.9
2918       Zambia             46.4
2919       Zambia             45.5
2920       Zambia             44.6
2921       Zambia             43.8
2922     Zimbabwe             67.0
2923     Zimbabwe             59.2
2924     Zimbabwe             58.0
2925     Zimbabwe             56.6
2926     Zimbabwe             54.9
2927     Zimbabwe             52.4
2928     Zimbabwe             50.0
2929     Zimbabwe             48.2
2930     Zimbabwe             46.6
2931     Zimbabwe             45.4
2932     Zimbabwe             44.6
2933     Zimbabwe             44.3
2934     Zimbabwe             44.5
2935     Zimbabwe             44.8
2936     Zimbabwe             45.3
2937     Zimbabwe             46.0

[2938 rows x 2 columns]